.titleContainer{
    background-color: rgb(23, 49, 49);
    color: rgb(206, 189, 163);
    height: 140px;
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.jobTitle{
   text-align: right;
   height: 40px;
   width: 400px;
   margin-left: 30px;
}
.name{
    margin-left: 30px;
    text-align: right;
    display: flex;
    margin-top: 30px;
}
.selfPortrait{
    border-radius: 20px;
    height: 140px;
    display: inline-flex;
    margin-left: 30%;
    
}
.contactContainer{
    border: solid rgb(23, 49, 49);
    text-align: center;
    display: flex;
    justify-content:  space-evenly;
    background-color: rgb(244, 219, 182);
    color: slategray;
    border-radius: 10px;
    margin: 5px;
}
.profileContainer{
    border: solid blue;
    height: 60px;
    padding: 0.5px;
    margin-top: 0.5px;
}
.profileP{
    display: none;
    background-color: darkslategray;
    border: solid black;
    display: absolute;
}
#profileP{
    display: block;
    background-color: darkslategray;
}
.aboutMe{
    height: 120px;
    background-color: darkslategray;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    color: blanchedalmond;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-left: 35%;

}
.skillContainer{
    border: solid darkslategrey;
    border-width: .5em;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 500px;
}
.skillList{
    width: 250px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.rowTwo{
    display: flex;
    height: 500px;
}
.experience{
    border: solid fuchsia;
    border: solid darkslategrey;
    border-width: .5em;
    width: 916px;
    height: 500px;
}
.education{
    border: solid darkslategrey;
    border-width: .5em;
    width: 650px;
    height: 500px;
}